<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gene.joystreet.dao.AreasMapper">
  <resultMap id="BaseResultMap" type="com.gene.joystreet.entity.Areas">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="areaid" jdbcType="VARCHAR" property="areaid" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="cityid" jdbcType="VARCHAR" property="cityid" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_areas
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.gene.joystreet.entity.Areas">
    insert into tb_areas (id, areaid, area, 
      cityid)
    values (#{id,jdbcType=VARCHAR}, #{areaid,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR}, 
      #{cityid,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.gene.joystreet.entity.Areas">
    update tb_areas
    set areaid = #{areaid,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR},
      cityid = #{cityid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, areaid, area, cityid
    from tb_areas
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, areaid, area, cityid
    from tb_areas
  </select>
</mapper>