<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC
    "-//mybatis.org//DTD Config 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
	</typeAliases>
	<plugins>
		<!-- com.github.pagehelper 为 PageHelper 类所在包名 -->
		<plugin interceptor="com.github.pagehelper.PageHelper">
			<!-- 设置数据库类型 Oracle,Mysql,MariaDB,SQLite,Hsqldb,PostgreSQL 六种数据库-->
			<property name="dialect" value="mysql"/>
		</plugin>
	</plugins>
	<mappers>
		<!-- 品牌 -->
		<mapper resource="com/gene/joystreet/mapper/BrandMapper.xml"/>
		<!-- 规格 -->
		<mapper resource="com/gene/joystreet/mapper/SpecificationMapper.xml"/>
		<!-- 规格详情 -->
		<mapper resource="com/gene/joystreet/mapper/SpecificationoptionMapper.xml"/>
		<!-- 商品模板 -->
		<mapper resource="com/gene/joystreet/mapper/TypetemplateMapper.xml"/>
		<!-- 商家 -->
		<mapper resource="com/gene/joystreet/mapper/SellerMapper.xml"/>
		<!-- 商品分类 -->
		<mapper resource="com/gene/joystreet/mapper/ItemcatMapper.xml"/>
	</mappers>
</configuration>